.index-title {
  font-size: 38px;
}

.index-title p span {
  display: inline-block;
  color: crimson;
  animation: float 1s ease-in-out infinite;
}

.index-title p span:nth-of-type(2) {
  animation-delay: 0.1s;
}

.index-title p:nth-child(2) span {
  animation-delay: 0.2s;
}

.index-box {
  margin-top: 80px;
}

.index-box-content {
  display: flex;
  justify-content: center;
}

.index-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 24px;
  height: 250px;
  background-color: #e2e2e2;
  border-radius: 50%;
  margin-right: 30px;
  transition: 0.5s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.index-item:hover {
  background-color: #50586c;
  transform: scale(1.2);
}

.index-item:hover.index-item span {
  color: #ffffff;
}

.index-item:last-child {
  margin-right: 0;
}

.index-item span {
  transition: 0.5s;
  pointer-events: none;
}
