.index-title {
  font-size: 38px;
  line-height: 4rem;
}

.index-title p span {
  display: inline-block;
  color: crimson;
  animation: float 1s ease-in-out infinite;
}

.index-title p span:nth-of-type(2) {
  animation-delay: 0.1s;
}

.index-title p:nth-child(2) span {
  animation-delay: 0.2s;
}

.index-box {
  margin-top: 80px;
}

.index-box-content {
  display: flex;
  justify-content: center;
}

.contents {
  width: 100%;
}

.list {
  width: 100%;
  margin: 0 auto;
  font-size: 100px;
}

.item {
  padding: 32px 0 10px;
  border-bottom: solid 1px rgba(136, 136, 136, 0.3);
  cursor: default;
  transition: 0.5s;
}

.list:hover {
  color: #0002;
}

.item:hover {
  color: #000000;
  background: transparent;
}

.item:nth-of-type(even) {
  text-align: right;
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 300px;
  pointer-events: none;
}

.images img {
  position: absolute;
  top: -150px;
  left: -240px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}
