.project-slide {
  position: relative;
}

.project-cotainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 850px;
}

.project-title-box {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.project-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  border-radius: 25px;
  overflow: hidden;
  width: 850px;
  height: 480px;
  border: 10px solid #000000;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-title-box {
  margin-bottom: 20px;
  font-weight: 300;
}

.project-title-left {
  flex: 1;
}

.project-title-left span {
  font-weight: 600;
}

.project-title-left h2 {
  font-size: 3rem;
}

.project-title-left p {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 20px;
}

.project-title-right a {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 5px 30px;
  margin-top: 20px;
  background-color: #e2e2e2;
  border-radius: 15px;
  transition: 0.3s;
}

.project-title-right a:hover {
  background-color: #50586c;
  color: #ffffff;
}

.project-title-right {
  flex: 1;
  line-height: 2rem;
}

.project-title-right br {
  display: none;
}

.project-title-right p {
  font-size: 16px;
  font-weight: 400;
}

.swiper {
  width: 850px;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: calc(100% + 20px);
  width: 850px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-progressbar-fill {
  --swiper-theme-color: #000000;
}

.swiper-button-next,
.swiper-button-prev {
  cursor: none;
  --swiper-theme-color: #000000;
}

.swiper-button-disabled {
  display: none;
}
