@media (max-width: 280px) {
  .main {
    padding-top: 50px;
  }

  .inner {
    width: 100%;
    height: auto;
  }

  .section {
    text-align: center;
    margin-top: 100px;
  }

  .section h1 {
    font-size: 2.5rem;
  }

  .sec1 {
    margin-top: 0;
  }

  footer {
    line-height: 1.5rem;
  }

  footer p {
    font-size: 14px;
  }

  #scrollPercentLabel {
    display: none;
  }

  .modal-background {
    display: none;
  }

  .gnb-container {
    width: 100%;
  }

  .gnb-container ul {
    font-size: 28px;
  }

  .gnb-container ul li a:before {
    display: none;
  }

  .scroll-text-container {
    display: none;
  }

  /* intro section */
  .intro h1 {
    font-size: 35px;
    line-height: 2.5rem;
  }

  .intro h1:last-child {
    font-size: 31px;
    margin-top: 30px;
  }

  /* index section */
  .index-title {
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.8rem;
  }

  .index-title p {
    margin: 0;
  }

  .index-box {
    margin-top: 50px;
  }

  .list {
    font-size: 32px;
  }

  .item:nth-of-type(even) {
    text-align: center;
  }

  .images {
    display: none;
  }

  .images img {
    display: none;
  }

  /* aboutme section */
  .aboutme-content {
    flex-direction: column;
  }

  .aboutme-introduce-content {
    flex-direction: column;
  }

  .aboutme-text {
    text-align: center;
    margin-top: 30px;
  }

  .aboutme-text h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .aboutme-text h2 br {
    display: flex;
  }

  .aboutme-text p {
    font-size: 1rem;
  }

  .aboutme-text br {
    display: none;
  }

  .aboutme-image {
    width: 60vw;
    margin: 0 auto;
  }

  .aboutme-info,
  .aboutme-edu {
    align-items: center;
  }

  .aboutme-info {
    margin: 0;
  }

  .aboutme-info,
  .aboutme-edu {
    margin-top: 30px;
  }

  .aboutme-info h3,
  .aboutme-edu h3 {
    margin-bottom: 10px;
  }

  .aboutme-right-bottom {
    width: 100%;
  }

  .edu-box div {
    flex-direction: column;
    text-align: center;
  }

  .edu-box div:nth-child(2) {
    margin-top: 20px;
  }

  /* skills section */
  .skills-can-box {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .skills-can {
    margin-bottom: 50px;
  }

  .js-box {
    margin-bottom: 0;
  }

  .skills-can-image {
    margin: 0 auto;
  }

  .skills-can-des {
    display: none;
  }

  .skills-can-text {
    opacity: 1;
    visibility: visible;
    position: relative;
    height: auto;
    top: 10px;
    left: 0;
  }

  .skills-can-text br {
    display: none;
  }

  .skills-can-text::after {
    left: 50%;
    top: -30px;
  }

  .skills-etc-container {
    flex-direction: column;
  }

  .skills-expected {
    margin-top: 50px;
  }

  .common-skills-content {
    flex-wrap: wrap;
    box-shadow: none;
    border-radius: 0;
  }

  .skills-learn-content {
    justify-content: center;
  }

  .skills-learn-image,
  .skills-expected-image {
    margin-right: 0;
    width: calc(100% / 3);
    height: auto;
  }

  /* project section */
  .swiper {
    width: 100%;
  }

  .project-title-box {
    flex-direction: column;
    text-align: center;
  }

  .project-title-left p {
    font-size: 1rem;
  }

  .project-title-right {
    margin-top: 30px;
  }

  .project-title-right p {
    font-size: 15px;
  }

  .project-title-right br {
    display: flex;
  }

  .project-title-right a {
    width: 100%;
  }

  .project-title-left h2 {
    font-size: 2rem;
  }

  .project-image-box {
    width: 100%;
  }

  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #000000;
    width: 100%;
    height: auto;
  }

  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  /* mysite section */
  .mysite-content {
    flex-direction: column;
  }

  .mysite-item {
    width: 100%;
    flex: auto;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .mysite-item:hover {
    flex: auto;
  }

  .mysite-item:hover .mysite-a-title {
    height: 60px;
  }

  .mysite-a-image {
    width: 80px;
    height: 80px;
  }

  .mysite-item:last-child {
    margin-bottom: 0;
  }

  .mysite-a-title {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 1.2rem;
  }

  /* contact section */
  .contact-content {
    flex-direction: column;
  }

  .contact-content-text {
    font-size: 1rem;
  }

  .contact-content hr {
    width: 100%;
    height: 1px;
    margin: 50px 0;
  }

  .name-email-container {
    flex-direction: column;
  }

  .contact-content-right {
    width: 100%;
    text-align: center;
  }

  .name-box {
    margin-right: 0;
  }

  .email-box,
  .message-container {
    margin-top: 10px;
  }

  .message-container label {
    margin-top: 0;
  }

  input::placeholder,
  textarea::placeholder {
    text-align: center;
  }

  .gform {
    align-items: center;
  }

  #message-send {
    margin-top: 20px;
  }
}

@media (min-width: 281px) and (max-width: 767px) {
  .main {
    padding-top: 50px;
  }

  .inner {
    width: 100%;
    height: auto;
  }

  .section {
    text-align: center;
    margin-top: 100px;
  }

  .sec1 {
    margin-top: 0;
  }

  #scrollPercentLabel {
    display: none;
  }

  .modal-background {
    display: none;
  }

  .gnb-container {
    width: 100%;
  }

  .gnb-container ul {
    font-size: 32px;
  }

  .gnb-container ul li a:before {
    display: none;
  }

  .scroll-text-container {
    display: none;
  }

  /* intro section */
  .intro h1 {
    font-size: 45px;
    line-height: 2.7rem;
  }

  .intro h1:last-child {
    font-size: 41px;
    margin-top: 30px;
  }

  /* index section */
  .index-title {
    text-align: center;
    line-height: 3.5rem;
  }

  .index-title p {
    margin: 0;
  }

  .index-box {
    margin-top: 50px;
  }

  .list {
    font-size: 38px;
  }

  .item:nth-of-type(even) {
    text-align: center;
  }

  .images {
    display: none;
  }

  .images img {
    display: none;
  }

  /* aboutme section */
  .aboutme-content {
    flex-direction: column;
  }

  .aboutme-introduce-content {
    flex-direction: column;
  }

  .aboutme-text {
    text-align: center;
    margin-top: 30px;
  }

  .aboutme-text h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .aboutme-text h2 br {
    display: flex;
  }

  .aboutme-text p {
    font-size: 1rem;
  }

  .aboutme-text br {
    display: none;
  }

  .aboutme-image {
    width: 60vw;
    margin: 0 auto;
  }

  .aboutme-info,
  .aboutme-edu {
    align-items: center;
  }

  .aboutme-info {
    margin: 0;
  }

  .aboutme-info,
  .aboutme-edu {
    margin-top: 30px;
  }

  .aboutme-info h3,
  .aboutme-edu h3 {
    margin-bottom: 10px;
  }

  .aboutme-right-bottom {
    width: 100%;
  }

  /* skills section */
  .skills-can-box {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .skills-can {
    margin-bottom: 50px;
  }

  .js-box {
    margin-bottom: 0;
  }

  .skills-can-image {
    margin: 0 auto;
  }

  .skills-can-des {
    display: none;
  }

  .skills-can-text {
    opacity: 1;
    visibility: visible;
    position: relative;
    height: auto;
    top: 10px;
    left: 0;
  }

  .skills-can-text br {
    display: none;
  }

  .skills-can-text::after {
    left: 50%;
    top: -30px;
  }

  .skills-etc-container {
    flex-direction: column;
  }

  .skills-expected {
    margin-top: 50px;
  }

  .common-skills-content {
    flex-wrap: wrap;
    box-shadow: none;
    border-radius: 0;
  }

  .skills-learn-content {
    justify-content: center;
  }

  .skills-learn-image,
  .skills-expected-image {
    margin-right: 0;
    width: calc(100% / 3);
    height: auto;
  }

  /* project section */
  .swiper {
    width: 100%;
  }

  .project-title-box {
    flex-direction: column;
    text-align: center;
  }

  .project-title-right {
    margin-top: 30px;
  }

  .project-title-right br {
    display: flex;
  }

  .project-title-right a {
    width: 100%;
  }

  .project-title-right p {
    font-size: 13px;
  }

  .project-image-box {
    width: 100%;
  }

  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #000000;
    width: 100%;
    height: auto;
  }

  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  /* mysite section */
  .mysite-content {
    flex-direction: column;
  }

  .mysite-item {
    width: 100%;
    flex: auto;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .mysite-item:hover {
    flex: auto;
  }

  .mysite-item:hover .mysite-a-title {
    height: 60px;
  }

  .mysite-a-image {
    width: 80px;
    height: 80px;
  }

  .mysite-item:last-child {
    margin-bottom: 0;
  }

  .mysite-a-title {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }

  /* contact section */
  .contact-content {
    flex-direction: column;
  }

  .contact-content-text {
    font-size: 1rem;
  }

  .contact-content hr {
    width: 100%;
    height: 1px;
    margin: 50px 0;
  }

  .name-email-container {
    flex-direction: column;
  }

  .contact-content-right {
    width: 100%;
    text-align: center;
  }

  .name-box {
    margin-right: 0;
  }

  .email-box,
  .message-container {
    margin-top: 10px;
  }

  .message-container label {
    margin-top: 0;
  }

  input::placeholder,
  textarea::placeholder {
    text-align: center;
  }

  .gform {
    align-items: center;
  }

  #message-send {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    padding-top: 50px;
  }

  .inner {
    width: 100%;
    height: auto;
  }

  .section {
    text-align: center;
    margin-top: 100px;
  }

  .sec1 {
    margin-top: 0;
  }

  #scrollPercentLabel {
    display: none;
  }

  .modal-background {
    display: none;
  }

  .gnb-container {
    width: 100%;
  }

  .gnb-container ul {
    font-size: 36px;
  }

  .gnb-container ul li a:before {
    font-size: 3em;
  }

  .scroll-text-container {
    display: none;
  }

  /*intro section */
  .intro h1 {
    font-size: 84px;
    line-height: 2.7rem;
  }

  .intro h1:last-child {
    font-size: 80px;
    margin-top: 80px;
  }

  /* index section */
  .index-title {
    text-align: center;
    line-height: 3.5rem;
  }

  .index-title p {
    margin: 0;
  }

  .index-box {
    margin-top: 50px;
  }

  .list {
    font-size: 42px;
  }

  .item:nth-of-type(even) {
    text-align: center;
  }

  .images {
    display: none;
  }

  .images img {
    display: none;
  }

  /* aboutme section */
  .aboutme-content {
    flex-direction: column;
  }

  .aboutme-introduce-content {
    text-align: start;
  }

  .aboutme-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutme-image {
    width: 40vw;
  }

  .aboutme-text {
    text-align: center;
    margin-top: 30px;
  }

  .aboutme-text h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .aboutme-text h2 br {
    display: flex;
  }

  .aboutme-text p {
    font-size: 1rem;
  }

  .aboutme-text br {
    display: none;
  }

  .aboutme-info,
  .aboutme-edu {
    align-items: center;
    flex: 1;
  }

  .aboutme-info {
    margin: 0;
  }

  .aboutme-info,
  .aboutme-edu {
    margin-top: 30px;
  }

  .aboutme-info h3,
  .aboutme-edu h3 {
    margin-bottom: 10px;
  }

  .aboutme-right-bottom {
    width: 100%;
  }

  /* skills section */
  .skills-can-box {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .skills-can {
    margin-bottom: 50px;
  }

  .js-box {
    margin-bottom: 0;
  }

  .skills-can-image {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }

  .skills-can-des {
    display: none;
  }

  .skills-can-text {
    opacity: 1;
    visibility: visible;
    position: relative;
    height: auto;
    top: 20px;
    left: 0;
  }

  .skills-can-text br {
    display: none;
  }

  .skills-can-text::after {
    left: 50%;
    top: -30px;
  }

  .skills-etc-container {
    flex-direction: column;
  }

  .skills-expected {
    margin-top: 50px;
  }

  .common-skills-content {
    flex-wrap: wrap;
    box-shadow: none;
    border-radius: 0;
  }

  .skills-learn-content {
    justify-content: center;
  }

  .skills-learn-image,
  .skills-expected-image {
    margin-right: 0;
    width: calc(100% / 5);
    height: auto;
  }

  /* project section */
  .swiper {
    width: 100%;
  }

  .project-title-box {
    flex-direction: column;
    text-align: center;
  }

  .project-title-right {
    margin-top: 30px;
  }

  .project-title-right br {
    display: flex;
  }

  .project-title-right a {
    width: 50%;
  }

  .project-image-box {
    width: 100%;
  }

  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #000000;
    width: 100%;
    height: auto;
  }

  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  /* mysite section */
  .mysite-content {
    flex-direction: column;
  }

  .mysite-item {
    width: 100%;
    flex: auto;
    height: 150px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .mysite-item:hover {
    flex: auto;
  }

  .mysite-item:hover .mysite-a-title {
    height: 60px;
  }

  .mysite-a-image {
    width: 80px;
    height: 80px;
  }

  .mysite-item:last-child {
    margin-bottom: 0;
  }

  .mysite-a-title {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }

  /* contact section */
  .contact-content {
    flex-direction: column;
  }

  .contact-content-text {
    font-size: 1rem;
  }

  .contact-content hr {
    width: 100%;
    height: 1px;
    margin: 50px 0;
  }

  .name-email-container {
    flex-direction: column;
  }

  .contact-content-right {
    width: 100%;
    text-align: center;
  }

  .name-box {
    margin-right: 0;
  }

  .email-box,
  .message-container {
    margin-top: 10px;
  }

  .message-container label {
    margin-top: 0;
  }

  input::placeholder,
  textarea::placeholder {
    text-align: center;
  }

  .gform {
    align-items: center;
  }

  #message-send {
    margin-top: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1180px) {
  .index-item {
    height: 180px;
  }
}

@media (min-width: 1181px) and (max-width: 1299px) {
  .index-item {
    height: 220px;
  }
}

@media (min-width: 1025px) and (max-width: 1299px) {
  .inner {
    width: 100%;
  }

  .gnb-container {
    width: 100%;
  }

  .gnb-container ul li a:before {
    font-size: 3em;
  }

  .common-scroll-text {
    font-size: 34px;
  }

  /* intro section */
  .intro h1 {
    font-size: 100px;
    line-height: 3rem;
  }

  .intro h1:last-child {
    margin-top: 80px;
    font-size: 70px;
  }

  /* index section */
  .images {
    display: none;
  }

  .images img {
    display: none;
  }

  /* aboutme section */
  .aboutme-content {
    flex-direction: column;
  }

  .aboutme-right {
    margin-top: 50px;
  }

  .aboutme-image {
    width: 30vw;
    height: auto;
    margin: 0 auto;
  }

  .aboutme-right-bottom {
    margin-top: 50px;
  }

  .aboutme-right {
    align-items: center;
  }

  .aboutme-right-top {
    text-align: center;
  }

  /* skills section */
  .skills-etc-container {
    flex-direction: column;
  }

  .common-skills-content {
    justify-content: center;
  }

  .skills-expected {
    margin-top: 30px;
  }

  /* project section */
  .swiper {
    width: 100%;
  }

  .project-title-box {
    flex-direction: column;
    text-align: center;
  }

  .project-title-right {
    margin-top: 30px;
  }

  .project-title-right br {
    display: flex;
  }

  .project-title-right a {
    width: 50%;
  }

  .project-image-box {
    width: 100%;
  }

  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid #000000;
    width: 100%;
    height: auto;
  }

  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: calc(100% + 60px);
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  /* mysite section */
  .mysite-item {
    height: 350px;
  }
}
