.trigger {
  position: relative;
  width: 100%;
  max-width: 1903px;
  height: 100%;
  overflow: hidden;

  &:nth-of-type(2) {
    background: #eee;
  }
}

.trigger span {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 38px;
  z-index: 2;
  width: 50%;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  top: calc(50vh - 56px);

  &.up {
    right: 0;
  }

  &.down {
    left: 0;
  }
}

.box {
  height: 1.2vh;
  width: 50%;
  margin-bottom: -0.2vh;
  background: #50586c;
  display: block;
}

@media (max-width: 280px) {
  .trigger {
    display: none;
  }
}

@media (min-width: 281px) and (max-width: 767px) {
  .trigger {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .trigger {
    display: none;
  }
}
